.header {
  display: flex;
  justify-content: flex-end;
  margin: 15px;
}
.logout-btn {
  background-color: blue;
  cursor: pointer;
  border: none;
  outline: none;
  height: 40px;
  width: 120px;
  color: white;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 12px;
  font-size: 15px;
  font-family: 'Roboto';
  color: black;
  margin: 8px;
}
.add-btn {
  background-color: indianred;
  color: white;
  font-size: 17px;
  font-family: 'Roboto';
  border-radius: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 13px;
  width: 130px;
  height: 40px;
}
.btn-con {
  display: flex;
  justify-content: flex-end;
}
.select-items {
  height: 40px;
  margin-left: 20px;
}
.heading {
  font-family: 'Roboto';
  color: rgb(184, 60, 60);
  font-size: 50px;
  padding: 13px;
}
.task-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
